<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drink</title>
</head>
<body>
    <section>
        <aside class="nav-menu">
            <nav>
                <li>Cool Drink</li>
                <li>Hot Drink</li>
                <li>Frappes</li>
            </nav>
            <section class="menu">
                
            </section>
        </aside>
        <aside class="order-info"></aside>
    </section>
</body>
</html>